@charset "utf-8";
body header {
	color: #000000;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: small;
	text-align: center;
	text-shadow: 2px 2px 1px #CCCCCC;
	text-transform: none;
	letter-spacing: 1px;
	height: 46px;
	-webkit-transition: all 5s ease;
	-moz-transition: all 5s ease;
	-ms-transition: all 5s ease;
	-o-transition: all 5s ease;
	transition: all 5s ease;

}
body header:active {
	font-size: large;
}
body header:hover {
	color: #0F0;
}
